[Unit]
Description=ZXIC based LTE dongle SMS forwarder

[Service]
Type=simple
ExecStart=/usr/bin/env python3 zxicsmswx
WorkingDirectory=/home/kela/zxicsmswx
Restart=always
RuntimeMaxSec=infinity
SyslogIdentifier=zxicsmswx

[Install]
WantedBy=default.target

